<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Mcommerce</title>
        <link rel="stylesheet" type="text/css"
              href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div>
                    <h3 th:text="${produit.titre}"></h3>
                    <img th:src="${produit.image}"  class="card-img-top" />
                    <p th:text= "${produit.description}"></p>
                    <p th:text= "${produit.prix}"></p>
                    <p>
                        <a th:href="@{|/commander-produit/${produit.id}/${produit.prix}|}" class="font-weight-bold">COMMANDER</a>
                    </p>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    </body>
</html>